{{ $img := $.Page.Resources.GetMatch (.Get "src") }}
{{ $caption := (.Get "caption") }}
{{ $alt := (.Get "alt") }}
{{ $is_zoomable := (cond (ne (.Get "is_zoomable") nil) (.Get "is_zoomable") false) }}
{{ $fig_css := (.Get "fig_css") }}

{{if (ne $img nil) }}
<figure
	{{ if (ne $fig_css nil) }}
		class="{{- $fig_css -}}"
	{{- else -}}
		class="w-100"
	{{ end }}>
	<img loading="lazy" {{if $is_zoomable }} data-zoomable="basic-view" {{ end }} src="{{ $img.RelPermalink }}" {{if (ne $alt nil) }} alt="{{ $alt }}" {{ end }} />
	{{if (ne $caption nil) }}<figcaption>{{ $caption }}</figcaption> {{ end }}
</figure>
{{ end }}
