
@font-face {
    font-family: 'hk_gothic_bold';
    src: url('../fonts/hk-gothic.eot');
    src: url('../fonts/hk-gothic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hk-gothic.woff2') format('woff2'),
         url('../fonts/hk-gothic.woff') format('woff'),
         url('../fonts/hk-gothic.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;

}

.gothic-bold {
    font-family: 'hk_gothic_bold',
                 avenir,
                 sans-serif;

}

@mixin gothic-bold {
    font-family: 'hk_gothic_bold',
                 avenir,
                 sans-serif;
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'ibm_plex_sans_regular';
    src: url('../fonts/ibmplexsans-regular.eot');
    src: url('../fonts/ibmplexsans-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ibmplexsans-regular.woff2') format('woff2'),
         url('../fonts/ibmplexsans-regular.woff') format('woff'),
         url('../fonts/ibmplexsans-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


.gangster-regular {
    font-family: 'ibm_plex_sans_regular',
                 avenir,
                 sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
    font-smoothing: antialiased;
}

@mixin gangster-regular {
    font-family: 'ibm_plex_sans_regular',
                 avenir,
                 sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
    font-smoothing: antialiased;
}
