{{ $img := $.Page.Resources.GetMatch (.Get "src") }}
{{ $hq_img_src := (.Get "hq_src") }}
{{ $caption := (.Get "caption") }}
{{ $alt := (.Get "alt") }}
{{if (and (ne $img nil) (ne $hq_img_src nil)) }}
<div data-view="basic-view" data-hq-src="{{$hq_img_src}}">
<button class="control-view" type="button"></button>
<figure class="expandable">
	<img loading="lazy" src="{{ $img.RelPermalink }}" data-lq {{if (ne $alt nil) }} alt="{{ $alt }}" {{ end }}/>
	{{if (ne $caption nil)}}<figcaption>{{ $caption }}</figcaption> {{ end }}
</figure>
</div>
{{ end }}
