<h2 class="mb3 mb3-1"> More projects </h2>
<ul class="w-100 theborder border-box ">
        <!-- sort the projects array by position_in_column property in each projects's front matter -->
        {{ $projects := (where $.Site.RegularPages "Section" "projects")}}
        {{ $projects := (where $projects "Params.draft" false)}}
        {{ $projects := (where $projects "Params.is_listed" true)}}        
        {{ $projects := (where $projects "Params.is_showcased" false)}}        
        {{ $projects := (sort $projects "Params.title" "asc")}}
        {{ range $projects }}
	            <li id="{{ .Title }}" class="post border-box pb2 no-decoration">
		            <div name="content">
                        <a class="w-100 pointer underline" href="{{ .Permalink }}" title="{{ .Title }}">         
                            {{ .Title }} 
                        </a>                     
		            </div>
	            </li>
        {{ end }}
        </ul>
