
@font-face {
    font-family: 'hk_gothic_bold';
    src: url('../fonts/hk-gothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.gothic-bold {
    font-family: 'hk_gothic_bold',
                 avenir,
                 sans-serif;

}

@mixin gothic-bold {
    font-family: 'hk_gothic_bold',
                 avenir,
                 sans-serif;
        font-weight: normal;
        font-style: normal;
}

.gangster-regular {
    font-family: //'gangster_grotesk_regular',
                 avenir,
                 sans-serif;
        font-weight: normal;
        font-style: normal;
                -webkit-font-smoothing:antialiased;
    font-smoothing: antialiased;
}

@mixin gangster-regular {
    font-family: //'gangster_grotesk_regular',
                 avenir,
                 'helvetica neue', helvetica,
                 sans-serif;
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing:antialiased;
    font-smoothing: antialiased;
}
